<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false" reset="true">

    <!-- ============================== -->
    <!-- Append messages to the console -->
    <!-- ============================== -->
    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out" />
        <layout class="org.apache.log4j.PatternLayout">
            <!-- The default pattern: Date Priority [Category] Message\n -->
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %p %t [%c:%L] %m%n" />
        </layout>
    </appender>

    <appender name="FILE" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="logs/alarmProcess.log" />
        <param name="Append" value="true" />
        <!-- Rollover at midnight each day -->
        <param name="DatePattern" value="'.'yyyy-MM-dd" />
        <layout class="org.apache.log4j.PatternLayout">
            <!-- The default pattern: Date Priority [Category] Message\n -->
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %p %t [%c:%L] %m%n" />
        </layout>
    </appender>

   <logger name="io.netty">
		<level value="ERROR" />
	</logger>

    <root>
        <priority value="info" />
        <appender-ref ref="CONSOLE" />
    </root>

</log4j:configuration>
